<header id="header-base" data-view-over="header">
  <{{ h1Home }}><a href="{{ root }}">ロゴ{{ h1Home }}</a></{{ h1Home }}>

  <div id="nav" data-component="nav">
    <nav id="drawer" data-logic="drawer">
      <div data-logic="drawer-scroll">
        <div data-logic="drawer-container">
        </div>
      </div>
    </nav>
  </div>
</header>

<button data-logic="drawer-trigger" id="trigger" type="button" class="l-trigger L:u-hidden">
  <span class="l-trigger__label">メニュー</span>
  <span class="l-trigger__u"></span>
</button>
