# Dependencies
node_modules

# VSCode
.vscode

# Intellij idea
*.iml
.idea

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Dist folders
dist
build

# Other
.cache
npm-debug.log
_site
src/_site

# Logs
*.log
