---
layout: layout.njk
root: ../
title: アバウト
description: ディスクリプション
page:
  class: ''
  type: page
  slug: about
  path: /about
hero:
  main: 'アバウト'
  parent: ''
  sub: ''
  bgImageName: ''
---

<h1>Hello About</h1>
<p><a href="/">home</a></p>
<p><img src="{{ root }}assets/images/git.jpg" alt="githubアイコン"></p>
